@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.jetbrains-mono-<uniquifier> {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

:root {
  /* Modrinth Green */
  --vp-c-brand-1: #1bd96a;
  --vp-c-brand-2: #18c45f;
  --vp-c-brand-3: #15ad54;

  /* Fonts */
  --vp-font-family-base: "Inter", Inter, sans-serif;
  --vp-font-family-mono: "JetBrains Mono", JetBrains Mono, monospace;
}
